
.sidebar {
    position: fixed; 
    display: flex;
    flex-direction: column;
    width: 13.61%;
    height: 100%; 
    background: transparent;
    color: #ffffff;
} 
.sidebar-closed {
    position: fixed; 
    display: flex;
    flex-direction: column;
    width: 13.61%;
    height: 100%; background-color: transparent;
    color: #ffffff;
} 
.sidebar-open{
    position: fixed; 
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%; background-color: #2c4047;
    color: #ffffff;
} 
.button{
    background-color: #2c4047;
    color: #ffffff;
}
